extends layout

block content
  .wrap
    .title.fl
      p.main Your Ad Cloud
      p.sub 优效 · 智选

    .login-form.fl
      form(method="post" action="/action/login")
        input(id="username" name="username" placeholder="用户名")
        br
        input(id="password" name="password" type="password" placeholder="密码")
        br
        input.btn(id="loginBtn" type="submit" value="登录")

  .bgWrap
  
  script(src = '/javascripts/index.js')
