doctype html
html
  head
    meta(chatset="utf-8")
    title Your Ad Cload
    link(rel='stylesheet', href='/stylesheets/login.css')
    script(src='/javascripts/lib/jquery.js')
  body
    block content
