*{
  outline: none;
  text-decoration: none;
}

.fl{
  float: left;
}

.wrap{
  max-width: 1024px;
  margin: 150px auto;
  padding: 20px 0;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;  
  overflow: hidden;
}
.title{
  width: 60%;
  font-size: 50px;
  color: #222277;
  text-indent: 50px;  
}
.title .sub{
  font-size: 34px;
  text-indent: 200px;
}
.login-form input.btn{
  padding: 0;
  border-color: transparent;
  color: #efebec;
  background: #222277;
}
.login-form{
  padding: 30px;
  background: linear-gradient(to bottom right, #fff , #eee);
  box-shadow: 0px 0px 8px #fff;
}
.login-form input{
  width: 270px;
  margin: 20px;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;  
  border: 1px solid #ccc;
  font-size: 15px;
  font-family: inherit;
  box-sizing: border-box;
  transition: box-shadow .5s;
}
.login-form input:focus{
  box-shadow: 0px 0px 8px #222277;
}
.bgWrap{
    position: fixed;
    top: 0;
    left: 0;   
    width: 100%;
    height: 100%;
    background: #fff none no-repeat center center;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    z-index: -1;
}
